{% extends 'admin_base.html' %}


{% block content %}
<!-- <section id="hero">
</section> -->

<div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-solid fa-file"></i>
            מעקב פעילות באתר
        </div>
        
        <div class="card-body" >
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            כמות
                        </th>
                        <th>
                            שם הנתון
                        </th>
                    </tr>
                </thead>
                <tbody >
            
                    <tr>
                    
                        <td>
                            {{num_of_users}}
                        </td>
                        <td>
                            משתמשים באתר
                        </td>
                           
                    </tr>

                    <tr>
                    
                        <td>
                            {{num_of_associations}}
                        </td>
                        <td>
                            עמותות
                        </td>
                           
                    </tr>

                    <tr>
                    
                        <td>
                            {{num_of_posts}}
                        </td>
                        <td>
                            פוסטים
                        </td>
                           
                    </tr>
                </tbody>
            </table>
        
        </div>

</div>



{%endblock%}