{% extends 'admin_base.html' %}

{%block content%}


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-solid fa-handshake-angle"></i>
        משתמשי הלפו
    </div>
<div class="card-body">
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>אפשרויות</th>
                <th>עיר</th>
                <th>מייל</th>
                <th>פלאפון</th>
                <th>שם מלא</th>
                <th>מס׳ מזהה</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>אפשרויות</th>
                <th>עיר</th>
                <th>מייל</th>
                <th>פלאפון</th>
                <th>שם מלא</th>
                <th>מס׳ מזהה</th>
            </tr>
        </tfoot>
        <tbody>
            {% for item in users%}
            <tr>
                <td>
                    <div style="text-align:center;"> 
                        <input type="submit" class="btn btn-outline-success" value="ערוך" onclick="location.href='{% url 'AdminUpdateHelpoUser' item.user.id %}';">
                        <input type="submit" class="btn btn-outline-warning" value="חסום" onclick="location.href='{% url 'blockUser' item.user.id %}';">
                        <button class="btn btn-outline-danger" user-id-attr="{{item.user.id}}"
                            user-un-attr="{{item.user.username}}" onclick="confirmDelete(this)">מחק</button>
                    </div>
                </td>
                <td>{{item.city}}</td>
                <td>{{item.user.email}}</td>
                <td>{{item.user.phone_number}}</td>
                <td>{{item.user.first_name}} {{item.user.last_name}}</td>
                <td>{{item.user.id}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>


{%endblock%}