{% extends 'base.html' %}

{% block link_css %}
{%load static%}
    <link href="{% static 'css/asso_profile.css' %}?{%now 'U'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="contact" class="contact">
    <div class="container emp-profile">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="https://www.clipartkey.com/mpngs/m/74-744136_blank-person.png" alt=""/>
                            </div>
                        </div>

                        <div class="col-sm-8" >
                            <div class="profile-head" style="text-align:right;" >
                                        <h1>
                                            {{obj.name}}
                                        </h1>
                                        <h4>
                                            {{obj.category}}
                                        </h4>
                                        {% comment %} <p class="proile-rating">RANKINGS : <span>8/10</span></p> {% endcomment %}
                                <ul class="nav nav-tabs nav justify-content-end " id="myTab" role="tablist" >
                                    <li class="nav-item"  >
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">אודות</a>
                                    </li>
                                    {% comment %} <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                    </li>  {% endcomment %}
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-work">
                                {%if user.is_authenticated%}
                                <input type="submit" class="btn btn-danger" value="Edit Profile" style="margin-left:22%; width:56%;"/>
                                    {%if obj.manager and user.is_helpo_user%}
                                        <a href="{% url 'submitVolunteeringRequest' obj.id %}">
                                            <button type="submit" class="btn btn-danger" style="margin-left:22%; margin-top:10px; width:56%;">
                                                volunteer Request</button>
                                        </a>
                                    {%endif%}
                                {%endif%}


                                <!--אם נרצה לרשום משהו בצד-->
                                {% comment %} <p>WORK LINK</p>
                                <a href="">Website Link</a><br/>
                                <a href="">Bootsnipp Profile</a><br/>
                                <a href="">Bootply Profile</a>
                                <p>SKILLS</p>
                                <a href="">Web Designer</a><br/>
                                <a href="">Web Developer</a><br/>
                                <a href="">WordPress</a><br/>
                                <a href="">WooCommerce</a><br/>
                                <a href="">PHP, .Net</a><br/> {% endcomment %}
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent" style="text-align:right;">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <h5><b>:פרטי העמותה</b></h5>
                                    <div class="row" >
                                        <div class="col-md-6">
                                            {{obj.id}}
                                        </div>
                                        <div class="col-md-6">
                                            <label><b>מספר</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {%if obj.manager%}
                                                {{obj.manager}}
                                            {%endif%}
                                        </div>
                                        <div class="col-md-6">
                                            <label><b>מנהל</b></label>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{obj.vol_num}}
                                        </div>
                                        <div class="col-md-6">
                                            <label><b>כמות מתנדבים</b></label>
                                        </div>
                                    </div>
                                    <br><h5><b>:צור קשר</b></h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p></p>
                                        </div>
                                        <div class="col-md-6">
                                            <label><b>כתובת</b></label>
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{obj.city}}
                                        </div>
                                        <div class="col-md-6">
                                            <label>עיר</label>
                                        </div>
                                    </div>                                            
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{obj.street}}
                                        </div>
                                        <div class="col-md-6">
                                            <label>רחוב</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{obj.apartment}}
                                        </div>
                                        <div class="col-md-6">
                                            <label>מספר</label>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{obj.phone}}
                                        </div>
                                        <div class="col-md-6">
                                            <label><b>מספר טלפון</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {%if obj.email%}
                                                {{obj.email}}
                                            {%endif%}
                                        </div>
                                        <div class="col-md-6">
                                            <label><b>דואר אלקטרוני</b></label>
                                        </div>
                                    </div> 


                                </div>
                                {% comment %} <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Experience</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Expert</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Hourly Rate</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>10$/hr</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Total Projects</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>230</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>English Level</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Expert</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Availability</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>6 months</p>
                                                </div>
                                            </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Your Bio</label><br/>
                                            <p>Your detail description</p>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="text-align:right;">
                        <h5><b>מידע נוסף</b></h5>
                        <p>
                            {{obj.info}}
                        </p>
                    </div>
            </div>
</section>

{% endblock %}