


{% extends 'base.html' %}


{% block content %}
<!-- <section id="hero">
</section> -->
<section id="contact" class="contact">
    
    <div class="container" style="margin-top: 70px; align-items: center; justify-content: center;">

        <div class="section-title"> 
            <h3>{{obj.name}}<br/><span> עריכת פרטי העמותה </span></h3>
        </div>

        <div class="row content" style="display: flex;align-items: center;justify-content: center;" >
                {% load crispy_forms_tags %}
                <form method = "POST" enctype="multipart/form-data" style="width: 350px; height: 800px;">
                    {%csrf_token%}
                    <fieldset class = "form-group">
                        {{form|crispy}}       <!--User form-->
                        <br>
                        {{i_form|crispy}}
                    </fieldset>
                <button type="submit" class="btn btn-outline-danger" style="margin-top:10px;">Submit</button>
                </form>

        </div>
    </div>
</section><!-- End About Section -->





{%endblock%}