{% extends 'base.html' %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <marquee style="height:24px; color:black;" direction="right" bgcolor="white" >{{adminMessage.content}}</marquee>
    <!-- <marquee style="height:24px; color:firebrick;" direction="right"  >הודעה לבדיקה מאוד נחמדה</marquee> -->
    <div class="hero-container">
      <h3>!ברוך הבא</h3>
      <h1>אנחנו כאן, אחד למען השני</h1>
      <h2>?מתי בפעם האחרונה עשית משהו, בשביל מישהו</h2>
      {% if not user.is_authenticated%}
        <a href="{% url 'login' %}" class="btn-get-started scrollto">!בואו נתחיל</a>
      {% endif %}
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>שאלות ותשובות <span>נפוצות</span></h3>
        </div>

        <ul class="faq-list" style="text-align:right;">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">?שאלה<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                תשובה
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section --> 

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hardworking <span>Team</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="static/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gil Ben hamo</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="static/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yovel Aloni</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="static/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Itzhak Rahamim</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="static/img/team/daniel-bald.jpeg" class="img-fluid" alt="" style="height:260px;width:250px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Daniel Dahan</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>צור קשר</h2>
          <h3>דרכי <span>התקשרות</span></h3>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://maps.google.com/maps?q=%D7%91%D7%90%D7%A8%20%D7%A9%D7%91%D7%A2,%20%D7%A1%D7%9E%D7%99%20%D7%A9%D7%9E%D7%A2%D7%95%D7%9F&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="row">
            <div class="info" style="text-align:right;">
              <div class="address">
                <i class="bi bi-geo-alt" style="float:right;"></i>
                <h4>:מיקום</h4>
                <p>חיים נחמן ביאליק 56, באר שבע, 84100</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"style="float:right;"></i>
                <h4>:אימייל</h4>
                <p>team10@ac.sce.ac.il</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"style="float:right;"></i>
                <h4>:פלאפון</h4>
                <p>+972 0589 5548</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 {%endblock%}
  


