{% extends 'base.html' %}



{% block content %}

  <!-- ======= About Section ======= -->
  <section id="contact" class="contact">
        
          <div class="container"style="margin-top:120px; margin-bottom:110px; align-items: center; justify-content: center;">
            
          {% if user.is_authenticated %}
          <div class="section-title"> 
            <h3>אתה כבר מחובר</h3>
          </div>
          {% else %}
          <div class="section-title">
            <h3>יש לך משתמש באתר?<span> התחבר כעת</span></h3>
          </div>
          
          <div class="row content" style="display: flex;align-items: center;justify-content: center;" >
            {% load crispy_forms_tags %}
            <form method = "post" class="from-group" style="  width: 300px; height: 200px;">
              {%csrf_token%}
              {{form|crispy}}
              <button style="margin-top: 10px;" type="submit" class="btn btn-outline-danger">Login</button>
              <p> אינך רשום? <a href="/accounts/pickType">הירשם כעת</a></p>
            </form>
          </div>
          {% endif%}
          
        </div>
      </section><!-- End About Section -->
      
      {%endblock%}