{% extends 'base.html' %}


{% block content %}
<section id="hero">
</section>
  <section id="contact" class="contact">
    
  <div class="container"style=" align-items: center; justify-content: center;">
    
  
    <div class="section-title"> 
      <h3>Register page, <span>Association manager</span></h3>
    </div>
    
    <div class="row content" style="display: flex;align-items: center;justify-content: center;" >
      {% load crispy_forms_tags %}
      <form method = "post">
        {%csrf_token%}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Sign Up!</button>
      </form>
    </div>
  
    
  </div>
</section><!-- End About Section -->





{%endblock%}