{% extends 'base.html' %}
{% block content %}

<style>
  label, input{
    display: block;
  }
</style>

        <!-- ======= About Section ======= -->
        <section id="contact" class="contact">
        
        <div class="container" style="margin-top: 7%; margin-bottom: 19%; align-items:center; justify-content:center;">
          
          <div class="section-title" style="align-items: center;">
            <h3><span>בחר את סוג המשתמש <br/><br/></span>מנהל עמותה&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מתנדב/מבקש סיוע&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
          </div>
  
          <div class="" style="display: flex;align-items: center;justify-content: center;" >
            {% load crispy_forms_tags %}
            {%csrf_token%}
            {{form|crispy}}
              <button id="Helpo" style="margin-right: 40px;" type="submit" class="btn btn-danger"><a style="color: aliceblue;" href="HelpoUserSignup">משתמש הלפו</a></button>
              <button id="Asso" style="margin-left: 100px;" type="submit" class="btn btn-danger"><a style="color: aliceblue;" href="ManagerSignup">מנהל עמותה</a></button>

          </div>
          
        </div>
      </section><!-- End About Section -->
  
{%endblock%}